# RUST PRACTICE

锤炼 Rust 技能。

[环境设置](./Setup.md)

## [Leetcode Solutions in Rust](#leetcode)

<table id="leetcode" class="table-auto">
  <thead>
    <tr>
      <th>id</th>
      <th>Leetcode</th>
      <th>Description</th>
      <th>Level</th>
    </tr>
  </thead>
  <tbody>
    {%- for question in leetcode_questions %}
      <tr>
        <td>
          {{question.id}}
        </td>
        <td>
          <a href="./leetcode/src/{{question.filename}}.rs"> {{question.title}} </a>
        </td>
        <td>
          <a href="./leetcode/src/doc/content/{{question.filename}}.md">MD</a> /
          <a href="https://leetcode-cn.com/problems/{{question.slug}}/">Link</a>
        </td>
        <td>
          {%- if question.level == 1 -%}
            Easy
          {%- else if question.level == 2 -%}
            Medium
          {%- else if question.level == 3 -%}
            Hard
          {%- endif -%}
        </td>
      </tr>
    {%- endfor -%}
  </tbody>
</table>
